.App {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  min-height: 100vh;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

header h1 {
  color: #263d6e;
  margin: 0;
}




section {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(58, 78, 122, 0.08);
}

ul {
  padding-left: 18px;
}



/* Butonlara hover efekti */
.btn-primary:hover, .btn-outline-primary:hover {
  box-shadow: 0 4px 12px rgba(58, 78, 122, 0.14);
  background: #194181;
  color: #fff;
  transition: all 0.2s;
}


